<footer class="page-wrap">
    <div id="footer-content">
		<div>
			<h3>Contact</h3>
			
			<p>Write to us or call us.</p>

			<p class="footer-phone"><i class="icon-phone"></i>+91-875-443-6161 +91-967-706-3388</p>
			<p class="footer-email"><i class="icon-email"></i> pensiveonline@gmail.com</p>
		</div>
    </div>

    <div id="social-icons">
	    <a class="icon-fb" href="http://facebook.com/pensiveonline">Facebook</a>
	    <a class="icon-youtube" href="#">YouTube</a>
	</div>

    <div id="copyrights">
         <section class="copyright">All content copyright <a href="{{@blog.url}}/">{{@blog.title}}</a> &copy; {{date format="YYYY"}} &bull; All rights reserved.</section>
         <section class="poweredby">Designed by <a class="icon-ghost" href="http://booleanbalaji.in">Abhishek Balaji</a></section>
    </div>
</footer>